<div class="container-fluid pt-3">
  <div class="row">
      <div class="col-lg-12">
          <a routerLink="/cl-add-new" class="btn btn-primary pull-right">Add new candidate</a>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-8 text-center offset-lg-2">
      <form action="">
        <div class="form-group input-group-lg">
          <input type="text" name="search" id="c_search" class="form-control" placeholder="Search...">
        </div>
      </form>
    </div>
  </div>
  
</div>