<div class="container-fluid">
  <!-- Heading for page -->
  <div class="row pb-3 pt-3">
    <div class="col-lg-12">
      <strong>Create new requirement</strong>
    </div>
  </div>
  <!-- Heading for page test -->
</div>

<div class="container-fluid pb-3 shadow-sm bg-white" *ngIf="!message" >

  <!-- Select Preset dropdown -->
  <div class="row pb-3 pt-3">
    <div class="col-lg-12">
      <form class="form-inline">
        <div class="form-group ">
          <label for="presets" class="mr-3">Select Preset</label>
          <select id="presets" name="presets" class="form-control" [(ngModel)]="newRequirement.presets" (change)="presetSelected()">
            <option *ngFor="let preset of presets" value="{{preset.req_id}}">{{preset?preset.job_title:"No stored presets"}}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <!-- Select Preset dropdown -->

  <form #requirementForm="ngForm" ngNativeValidate> 

    <div class="row">

      <!-- Job Title -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="form-group">
          <label for="jobTitle">Job Title</label>
          <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="" [(ngModel)]="newRequirement.jobTitle" required>
        </div>
      </div>
      <!-- Job Title -->

      <!-- Number of Positions -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="form-group">
          <label for="noOfPosition">Number of Position</label>
          <input type="number" class="form-control" name="noOfPosition" min="1" id="noOfPosition" placeholder="" [(ngModel)]="newRequirement.numOfPos" required>
        </div>
      </div>
      <!-- Number of Positions -->

      <!-- Department -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="form-group">
          <div class="form-group">
            <label for="department">Department</label>
            <select class="form-control" id="department" name="department" [(ngModel)]="newRequirement.department" required>
              <option *ngFor="let dep of department" value="{{dep.dep_id}}">{{dep.dep_name}}</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Department -->

      <!-- Job type -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="form-group">
          <div class="form-group">
            <label for="jobType">Job Type</label>
            <select class="form-control" id="jobType" name="jobType" [(ngModel)]="newRequirement.jobType" required>
              <option selected disabled="disabled">Select Job Type</option>
              <option>Permanent</option>
              <option>Intern</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Job type -->

    </div>

    <div class="row">

      <!-- Budget/Salary for position -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="form-group">
          <label for="budget">Budget </label>
          <input type="number" class="form-control" id="budget" name="budget" placeholder="" [(ngModel)]="newRequirement.budget">

        </div>
      </div>
      <!-- Budget/Salary for position -->

      <!-- Work Experience -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="form-group">
          <label for="experience">Experience</label>
          <input type="text" class="form-control" id="experience" name="experience" placeholder="" [(ngModel)]="newRequirement.experience" required>
        </div>
      </div>
      <!-- Work Experience -->

      <!-- Opening Date -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="form-group">
          <label for="openingDate">Opening Date</label>
          <input type="date" name="openingDate" id="openingDate" class="form-control" [(ngModel)]="newRequirement.openingDate" required>
        </div>
      </div>
      <!-- Opening Date -->

      <!-- closing Date -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="form-group">
          <label for="closingDate">Closing Date</label>
          <input type="date" name="closingDate" id="closingDate" class="form-control" [(ngModel)]="newRequirement.closingDate" required>
        </div>
      </div>
      <!-- closing Date -->

    </div>

    <div class="row">

      <!-- location -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="form-group">
          <label for="location">Location</label>
          <select name="location" id="location" class="form-control" [(ngModel)]="newRequirement.location">
              <option *ngFor="let loc of location" value="{{loc.name}}">{{loc.name}}</option>
          </select>
        </div>
      </div>
      <!-- location -->

      <!-- Upload Job Description -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <label for="">Select JD</label>
        <div class="input-group mb-3">
          <select class="custom-select" name="jdFile" id="inputGroupSelect04" aria-label="Example select with button addon" [(ngModel)]="newRequirement.jdFile" required>            
            <option *ngFor="let jd of jdFile" value="{{jd.job_des_id}}">{{jd.job_title}}</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Create JD</button>
          </div>
        </div>
      </div>
      <!-- Upload Job Description -->

      <!-- Request to -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="form-group">
          <div class="form-group">
            <label for="requstTo">Request to</label>
            <!-- <select class="form-control" id="department" name="department" [(ngModel)]="newRequirement.department" required>
              <option *ngFor="let dep of department" value="{{dep.dep_id}}">{{dep.dep_name}}</option>
            </select> -->
            <select class="form-control" id="requstTo" name="requestTo" [(ngModel)]="newRequirement.requestTo" required>
              <option *ngFor="let mang of manager" value="{{mang.user_reg_id}}">{{mang.user_reg_name}}</option>
            </select>
          </div>
        </div>
      </div>
      <!-- Request to -->

    </div>

    <div class="row">
      <div class="col-lg-12">
        <strong>Select Tests</strong>
      </div>
    </div>

    <div class="row pt-3 pb-3" >

      <!-- Option Aptitude -->
      <div class="col-lg-2 col-md-3" *ngFor="let test of tests" >
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input"  name="test{{test.test_id}}" id="test{{test.test_id}}" value="{{test.test_id}}" >
          <label class="custom-control-label" for="test{{test.test_id}}">{{test.test_name}}</label>
        </div>
      </div>
      <!-- Option Aptitude -->

      <!-- Option Machine Test -->
      <!-- <div class="col-lg-2 col-md-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="machineTest" id="machineTest">
          <label class="custom-control-label" for="machineTest">Machine Test</label>
        </div>
      </div> -->
      <!-- Option Machine Test -->

      <!-- Option Technical Interview -->
      <!-- <div class="col-lg-3 col-md-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="technicalInterview" id="technicalInterview">
          <label class="custom-control-label" for="technicalInterview">Technical Interview</label>
        </div>
      </div> -->
      <!-- Option Technical Interview -->

      <!-- Option HR Interview -->
      <!-- <div class="col-lg-2 col-md-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="hrInterview" id="hrInterview">
          <label class="custom-control-label" for="hrInterview">HR Interview</label>
        </div>
      </div> -->
      <!-- Option HR Interview -->

      <!-- Option MD Interview -->
      <!-- <div class="col-lg-2 col-md-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="mdInterview" id="mdInterview">
          <label class="custom-control-label" for="mdInterview">MD Interview</label>
        </div>
      </div> -->
      <!-- Option MD Interview -->

    </div>

    <hr>

    <div class="row">

      <!-- Select Aptitude Document -->
      <div class="col-lg-3 col-md-6 col-sm-6" >
        <label for="">Select Aptitude Doc</label>
        <div class="input-group mb-3">
          <select class="custom-select" id="selectApti" name="aptiFile" aria-label="Example select with button addon" [(ngModel)]="newRequirement.aptiFile">
            <option *ngFor="let apti of aptiFile" value="{{apti.apti_id}}">{{apti.apti_name}}</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Create New</button>
          </div>
        </div>
      </div>
      <!-- Select Aptitude Document -->

      <!-- Select Machine Test -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <label for="">Select Machine Test</label>
        <div class="input-group mb-3">
          <select class="custom-select" id="selectMachine" name="machineTestFile" aria-label="Example select with button addon" [(ngModel)]="newRequirement.machineTestFile">
            <option *ngFor="let machTest of machTestFile" value="{{machTest.mach_test_id}}">{{machTest.mach_test_name}}</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Create New</button>
          </div>
        </div>
      </div>
      <!-- Select Machine Test -->

    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="commnets">Additional Note</label>
          <textarea class="form-control" rows="5" name="notes" [(ngModel)]="newRequirement.notes"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <button type="submit" class="btn btn-primary mr-3" (click)="getApproval()">Get Approval</button>
        <button type="submit" class="btn btn-outline-secondary" (click)="savePreset()">Save as Preset</button>
      </div>
    </div>

  </form>

</div>


<div class="container-fluid bg-white p-5 mt-4" *ngIf="message">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h4>
        Your request has been sent!
      </h4>
      <small class="text-muted">You will recieve notification soon</small>
      <br> <br>
      <a  [routerLink]="['/m-dashboard']" routerLinkActive="router-link-active"  class="btn btn-primary">Back to Dashboard</a>
    </div>
  </div>
</div>