<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Current Openings
        </div>
        <div class="card-body">
          <table class="table">
            <thead class="bg-dark text-light">
              <tr>
                <th scope="col">Hiring Manager</th>
                <th scope="col">Designation</th>
                <th scope="col"># of Pos.</th>
                <th scope="col">Open Since</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>XYZ </td>
                <td>ABC</td>
                <td>2</td>
                <td>12-12-2018</td>
                <td><a href="/app-hr-current-opening"><i class="fa fa-arrow-right"></i></a></td>
              </tr>
              <tr>
                <td>XYZ </td>
                <td>ABC</td>
                <td>2</td>
                <td>12-12-2018</td>
                <td><i class="fa fa-arrow-right"></i></td>
              </tr>
              <tr>
                <td>XYZ </td>
                <td>ABC</td>
                <td>2</td>
                <td>12-12-2018</td>
                <td><i class="fa fa-arrow-right"></i></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>