<div class="container-fluid pt-3">
  <div class="row row-flex">
    <div class="col-lg-9">
      <div class="card ">
        <div class="card-header">
          Awaiting Approval requests
        </div>
        <div class="card-body">
          <dx-data-grid
            #grid
            id="gridContainer"
            [dataSource]="awaitingApprovals"
            [selectedRowKeys]="[]"
            [showBorders]="true" (onSelectionChanged)="getSelectedEntry()">
            <dxi-column dataField="job_title" caption="Position"></dxi-column>
            <dxi-column dataField="no_of_pos" caption="No. Of Positions"></dxi-column>
            <dxi-column caption="Action" cellTemplate="ViewIconTemplate"></dxi-column>
            <div *dxTemplate="let data of 'ViewIconTemplate'" class="text-center">
              <a><i class="fa fa-eye"></i></a>
            </div>
            <dxo-selection mode="single"></dxo-selection>
          </dx-data-grid>
        </div>
      </div>
    </div>
    <!-- Pending Approval Table -->

    <!-- Reminders / tasks -->
    <div class="col-lg-3">
      <div class="card ">
        <div class="card-header">
          Reminders/Tasks
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 mb-3">
              <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="card bg-danger text-white mb-3">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Reminders / tasks -->

  </div>
</div>