<div class="container-fluid mt-3 pt-3" *ngIf="!editRequirement">
  <div class="card ">
    <div class="card-header">
      {{requirement.jobTitle}}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label for="upload-cv">Number of Position: </label><br>
            <span class="font-weight-bold">{{requirement.numOfPos}}</span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label for="upload-cv">Department: </label><br>
            <span class="font-weight-bold">{{requirement.departmentName}}</span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label for="upload-cv">Job Type: </label><br>
            <span class="font-weight-bold">{{requirement.jobType}}</span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label for="upload-cv">Budget: </label><br>
            <span class="font-weight-bold">{{requirement.budget}}</span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label for="upload-cv">Experience: </label><br>
            <span class="font-weight-bold">{{requirement.experience}}</span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label for="upload-cv">Opening Date: </label><br>
            <span class="font-weight-bold">{{requirement.openingDate}}</span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label for="upload-cv">Closing Date: </label><br>
            <span class="font-weight-bold">{{requirement.closingDate}}</span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label for="upload-cv">Location: </label><br>
            <span class="font-weight-bold">{{requirement.location}}</span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label for="upload-cv">Job Description: </label><br>
            <span class="font-weight-bold"><a href=""><i class="fa fa-file"></i></a> {{requirement.jdFileName}}</span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label for="upload-cv">Request To: </label><br>
            <span class="font-weight-bold">{{requirement.requestToName}}</span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label for="upload-cv">Tests: </label><br>
            <span class="font-weight-bold">{{requirement.tests}}</span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3" *ngIf="aptiDocFlag">
          <div class="form-group">
            <label for="upload-cv">Aptitude Document: </label><br>
            <span class="font-weight-bold"><a href=""><i class="fa fa-file"></i></a> {{requirement.aptiFileName}} </span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3" *ngIf="machineTestFlag">
          <div class="form-group">
            <label for="upload-cv">Machine Test: </label><br>
            <span class="font-weight-bold"><a href=""><i class="fa fa-file"></i></a> {{requirement.machineTestFileName}} </span>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3">
          <div class="form-group">
            <label for="upload-cv">Additional Notes: </label><br>
            <span class="font-weight-bold">{{requirement.notes}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <button class="btn btn-primary mr-2">Send Reminder</button>
      <button class="btn btn-outline-primary mr-2" data-toggle="modal" data-target="#deleteModalCenter">Cancel Request</button>
      <button class="btn btn-outline-primary" (click)="editRequirement = true;">Edit</button>
    </div>
  </div>
</div>

<div class="container-fluid mt-3 pt-3" *ngIf="editRequirement">
  <div class="card ">
    <div class="card-header">
      {{requirement.jobTitle}}
    </div>
    <div class="card-body">
      <div class="row">
       <!-- Job Title -->
       <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="jobTitle">Job Title</label>
            <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="" [(ngModel)]="requirement.jobTitle" required>
          </div>
        </div>
        <!-- Job Title -->
  
        <!-- Number of Positions -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="noOfPosition">Number of Position</label>
            <input type="number" class="form-control" name="noOfPosition" min="1" id="noOfPosition" placeholder="" [(ngModel)]="requirement.numOfPos" required>
          </div>
        </div>
        <!-- Number of Positions -->
  
        <!-- Department -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="form-group">
            <div class="form-group">
              <label for="department">Department</label>
              <select class="form-control" id="department" name="department" [(ngModel)]="requirement.departmentId" required>
                <option *ngFor="let dep of department" value="{{dep.dep_id}}">{{dep.dep_name}}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Department -->
  
        <!-- Job type -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="form-group">
            <div class="form-group">
              <label for="jobType">Job Type</label>
              <select class="form-control" id="jobType" name="jobType" [(ngModel)]="requirement.jobType" required>
                <option selected disabled="disabled">Select Job Type</option>
                <option>Permanent</option>
                <option>Intern</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Job type -->
  
      </div>
  
      <div class="row">
  
        <!-- Budget/Salary for position -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="budget">Budget </label>
            <input type="number" class="form-control" id="budget" name="budget" placeholder="" [(ngModel)]="requirement.budget">
  
          </div>
        </div>
        <!-- Budget/Salary for position -->
  
        <!-- Work Experience -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="experience">Experience</label>
            <input type="text" class="form-control" id="experience" name="experience" placeholder="" [(ngModel)]="requirement.experience" required>
          </div>
        </div>
        <!-- Work Experience -->
  
        <!-- Opening Date -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="openingDate">Opening Date</label>
            <input type="date" name="openingDate" id="openingDate" class="form-control" [(ngModel)]="requirement.openingDate" required>
          </div>
        </div>
        <!-- Opening Date -->
  
        <!-- closing Date -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="closingDate">Closing Date</label>
            <input type="date" name="closingDate" id="closingDate" class="form-control" [(ngModel)]="requirement.closingDate" required>
          </div>
        </div>
        <!-- closing Date -->
  
      </div>
  
      <div class="row">
  
        <!-- location -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="form-group">
            <label for="location">Location</label>
            <select name="location" id="location" class="form-control" [(ngModel)]="requirement.location">
                <option *ngFor="let loc of location" value="{{loc.name}}">{{loc.name}}</option>
            </select>
          </div>
        </div>
        <!-- location -->
  
        <!-- Upload Job Description -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <label for="">Select JD</label>
          <div class="input-group mb-3">
            <select class="custom-select" name="jdFile" id="inputGroupSelect04" aria-label="Example select with button addon" [(ngModel)]="requirement.jdFileId" required>            
              <option *ngFor="let jd of jdFile" value="{{jd.job_des_id}}">{{jd.job_title}}</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Create JD</button>
            </div>
          </div>
        </div>
        <!-- Upload Job Description -->
  
        <!-- Request to -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="form-group">
            <div class="form-group">
              <label for="requstTo">Request to</label>
              <select class="form-control" id="requstTo" name="requestTo" [(ngModel)]="requirement.requestToId" required>
                <option *ngFor="let mang of manager" value="{{mang.user_reg_id}}">{{mang.user_reg_name}}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- Request to -->
  
      </div>
  
      <div class="row">
        <div class="col-lg-12">
          <strong>Select Tests</strong>
        </div>
      </div>
  
      <div class="row pt-3 pb-3" >
  
        <!-- Option Aptitude -->
        <div class="col-lg-2 col-md-3" *ngFor="let test of tests">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input"  name="test{{test.test_id}}" id="test{{test.test_id}}" value="{{test.test_id}}" checked="{{requirement.tests.includes(test.test_name)?'checked':''}}">
            <label class="custom-control-label" for="test{{test.test_id}}">{{test.test_name}}</label>
          </div>
        </div> 
      </div>
  
      <hr>
  
      <div class="row">
  
        <!-- Select Aptitude Document -->
        <div class="col-lg-3 col-md-6 col-sm-6" >
          <label for="">Select Aptitude Doc</label>
          <div class="input-group mb-3">
            <select class="custom-select" id="selectApti" name="aptiFile" aria-label="Example select with button addon" [(ngModel)]="requirement.aptiFileId">
              <option *ngFor="let apti of aptiFile" value="{{apti.apti_id}}">{{apti.apti_name}}</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Create New</button>
            </div>
          </div>
        </div>
        <!-- Select Aptitude Document -->
  
        <!-- Select Machine Test -->
        <div class="col-lg-3 col-md-6 col-sm-6">
          <label for="">Select Machine Test</label>
          <div class="input-group mb-3">
            <select class="custom-select" id="selectMachine" name="machineTestFile" aria-label="Example select with button addon" [(ngModel)]="requirement.machineTestFileId">
              <option *ngFor="let machTest of machTestFile" value="{{machTest.mach_test_id}}">{{machTest.mach_test_name}}</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Create New</button>
            </div>
          </div>
        </div>
        <!-- Select Machine Test -->
  
      </div>
  
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="commnets">Additional Note</label>
            <textarea class="form-control" rows="5" name="notes" [(ngModel)]="requirement.notes"></textarea>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <button type="submit" class="btn btn-primary mr-3" data-toggle="modal" data-target="#updateModalCenter">Update</button>
          <button type="submit" class="btn btn-outline-secondary" (click)="editRequirement=false">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are You sure you want to <span class="text-danger">DELETE</span> the requirment.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteRequirement()" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>


<!-- Update Modal -->
<div class="modal fade" id="updateModalCenter" tabindex="-1" role="dialog" aria-labelledby="updateModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are You sure you want to <span class="text-danger">UPDATE</span> the requirment.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="updateRequirement()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

